.calculator-container {
    background-color: rgb(29, 29, 29);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 100%;
}

section#input {
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #bbb;
    font-size: 1.05em
}

.calculator-container input [type="number"],
.calculator-container select {
    width: 100%;
    padding: 12px;
    border:1px solid #444; 
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(42, 42, 42);
    color: white;
    transition: border-color .3s ease;
}

.calculator-container input[type="number"]:focus,
.calculator-container select:focus {
border-color: rgb(89, 82, 209);
outline: none;
}

.calculator-container button {
background-color:rgb(89, 82, 209); 
color:white;
padding: 14px 25px;
border: none; 
border-radius: 8px; 
cursor: pointer; 
font-size: 1.1em;
font-weight: bold; 
transition: background-color 0.3s ease, transform 0.2s ease;
width: 100%;
box-shadow: 0 2px 5px rgba(89ï¼Œ82, 209, 0.3); }

.calculator-container button:hover {
    background-color: rgb(70, 65, 170);
    transform: translateY(-2px);
}

.calculator-container button:active {
    transform: translateY(0);
}
